.futtor{
  background-color: #112250;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  
}
.futtor-content{
  display: block;
  width: 300px;
  background: #112250;
}
.futtor-contents{
  display: block;
  width: 300px;

}

.futtor-links{
  list-style: none;
  padding: 10px;
  text-align: left;
  text-decoration: none;
}

.futtor-links li{
  margin: 10px 0;
  gap: 10px;
  text-align: center;
}

.futtor-links li a{
  margin: 10px 0;
  gap: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.futtor-links li a:hover{
    color: #E0C58F;
}
.contant{
    color: #E0C58F;
  text-decoration: none;
}